
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminPanel.cshtml";
}

<!--<h2>Index</h2>
<div class="container">
    <button type="button" class="btn btn-info btn-lg" id="ModalBtn">Open Modal</button>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="padding: 10px 20px;background-color: aliceblue;">
                    <h4 class="modal-title">Write Mail</h4>
                    <button type="button" class="btn CloseBtn" style="padding:0;"><span style="font-size: 25px; ">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group">
                            <span>Subjects:</span>
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <span>Content:</span>
                            <textarea class="form-control"></textarea>
                        </div>
                    </div>
                    <button type="button" class="btn btn-outline-primary" style="padding: 10px; margin: 8px; margin-left: 0px; ">Send</button>
                    <button type="button"  class="float-end btn btn-light CloseBtn" style="padding: 10px; margin: 8px; margin-right: 0px; background-color: red;">Close</button>
                </div>
                <div class="modal-footer" style="padding: 0px">-->
                    
                <!--</div>
            </div>

        </div>
    </div>

</div>

<script>
    $('#ModalBtn').on('click', function () {
        $('#myModal').modal('show');
    });

    $('.CloseBtn').on('click', function () {
        $('#myModal').modal('hide');
    });

</script>-->

