<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <span>Subjects:</span>
            <input type="text" class="form-control" id="Subject" name="Subject" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <span>Content:</span>
            <textarea class="form-control" id="content" name="content"></textarea>
        </div>
    </div>
</div>
<p style="margin-bottom:0;margin-top:10px;" id="Mymsg"></p>
<button type="button" class="btn btn-outline-primary" id="SendBtn" onclick="SendMail()" style="padding: 10px; margin: 8px; margin-left: 0px; ">Send</button>
<button type="button" class="float-end btn btn-light CloseBtn" style="padding: 10px; margin: 8px; margin-right: 0px; background-color: red;">Close</button>
